@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label-name,
.label-number {
  margin-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #333;
}

.input-name,
.input-number {
  width: 280px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.btnAddContact {
  background-color: #04d163;
  color: #fff;
  align-self: center;
  width: 140px;
  padding: 10px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnAddContact:hover {
  background-color: #026682e1;
}

.titlePhoneBook {
  text-align: center;
  font-weight: 400;
  color: #1a0139;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactsListTitle {
  text-align: center;
  font-weight: 400;
  color: #1a0139;
  margin-top: 0;
}

.labelInputFilter {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  display: block;
}

.inputFilter {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.inputFilter:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.listContactsContainer {
  margin: 20px;
}

.listContacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5px;
  padding: 0;
}

.listContactsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.deleteBtn {
  background-color: #ff5555;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.deleteBtn:hover {
  background-color: #dd0000;
}
